@{
    ViewBag.Title = "Início";
}

<div class="jumbotron">
    <h1>Biblioteca Divas&Divos</h1>
    <br/>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bem-vindo</h2>
        <br/>
        <p>
            Nossa biblioteca de emprestimos de livros foi criada com o intuito de ajudar a descentralização da compra de livros de grandes lojas para um modelo reutilizável de pequenos empreendimentos, reduzindo assim a dependencia em monopólios e trazendo acesso a cultura.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Desenvolvimento</h2>
        <br/>
        <p>Nossa querida biblioteca de emprestimos de livros foi criada como parte de um trabalho avaliativo no curso de Sistemas de Informação, na Unitins. Veja mais <a href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">sobre </a></</p>
    </div>
</div>